---
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import SocialPill from '../components/SocialPill.astro';
import GitHubIcon from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCase from '../icons/BriefCase.astro';
import CodeIcon from '../icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
title="Porfolio de David Pizarro - Desarrollador Backend" 
description="Desarrollador con ánimos de poder crear herramientas útiles.">

	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img 
			class="rounded-full size-12 mb-4"
			src="/public/images/logodav.png" 
			alt="david photo"
			/>	
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy David Pizarro 
				<a 
				href="https://linkelin.com/davidpizarro"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a>
			</h1>		
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">		
				<span class="opacity-75">Entusiasta de la programación.</span> <span class="text-yellow-200/90">Desarrollador backend.</span> <span class="text-red-200/90">De Tarma Perú.</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">		
				<SocialPill href="https://linkedin.com">
					<LinkedIn class="size-4 md:size-6"/>
					LinkedIn
				</SocialPill>			
				<SocialPill href="https://github.com/DavidPizarro151">
					<GitHubIcon class="size-4 md:"/>
					GitHub
				</SocialPill>		
				<SocialPill href="mailto:paulpizarro151@gmail.com">
					<MailIcon class="size-4 lg:"/>
					paulpizarro151@gmail.com
				</SocialPill>	
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCase class="size-7"/>
				Proyectos Académicos
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>